#divTechnologies {
  padding: 2rem 13%;
  /* background-color: rgb(127, 127, 127); */
}

.technologyLabels p {
  margin: 0 25px 0 0;
}

.technologyLabels hr {
  width: 65%;
  margin: 0;
  border: 1px solid rgb(240, 240, 240);
}

.technologyLogos img {
  margin: 15px 0;
}

.serviceTypeCards {
  padding: 3% 10%;
  align-items: flex-start !important;
}

.serviceTypeIcons {
  width: 50px;
  height: 50px;
}

.serviceTypeIcons p {
  width: 50px;
  font-size: 120%;
  padding-top: 10px;
}

.serviceTypeLists {
  width: 70%;
}

.serviceTypeLists p {
  margin: 0;
}

#serviceTypeCategory {
  font-size: 110%;
  margin-bottom: 3px;
}

#subscriptionPlans {
  padding: 2rem 10% 3rem;
}

.subscriptionPlanCards {
  margin-bottom: 2rem;
}

.subscriptionPlanHeaders {
  border-radius: 12px 12px 0 0 !important;
  border: 1px solid rgba(240, 240, 240, 0.5);
  border-bottom: none;
}

.subscriptionPlanDetails {
  border-radius: 0 0 12px 12px;
  border: 1px solid rgba(240, 240, 240, 0.5);
  border-top: none;
}

.subscriptionPlanPrice {
  font-size: 250%;
}

#subscriptionPlanInclusions,
#subscriptionPlanFeatures {
  font-size: 120%;
}

#subscriptionPlanFeatures {
  margin-top: 1rem;
}

.subscriptionPlanInclusionsFeatures p {
  margin: 0;
  text-align: left;
}

.subscriptionPlanInclusionsFeatures ul li {
  text-align: left;
  background: transparent !important;
}

.btnCustomPackage {
  width: 100%;
  padding: 10px 15px;
}

/* #subscriptionConfirmation {
  height: 100vh;
} */

/* #subscriptionConfirmationTop {
  height: 20%;
  overflow: hidden;
} */

#subscriptionConfirmationBottom {
  height: 100%;
  padding-bottom: 1rem;
}

#divCancelSubscription {
  padding: 10px 20px 0;
}

.btnCancelSubscription {
  font-size: 150%;
  position: absolute;
}

#divAlmostThere {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem 0;
  border-radius: 15px 15px 0 0;
  border: 1px solid rgba(240, 240, 240, 0.35);
  border-bottom: none;
}

#almostThereIcon {
  opacity: 50%;
  font-size: 4rem;
}

#subscriptionConfirmationDetails {
  width: 80%;
  padding: 0 7%;
  margin: 0 auto 2rem;
  border-radius: 0 0 15px 15px;
  border: 1px solid rgba(240, 240, 240, 0.35);
  border-top: none;
}

#subscriptionConfirmationDetails p {
  margin: 0;
}

.inclusionsList,
.featuresList {
  margin-left: 1rem !important;
}

.inclusionsItems {
  margin-left: 2rem !important;
}

#btnConfirmSubscription {
  margin: 2rem 0 0;
  width: 200px;
}

#btnCancelSubscription {
  margin: 1rem 0 2rem;
  width: 200px;
}
