* {
  margin: 0;
  padding: 0;
  color: rgb(80, 80, 85) !important;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

.flexRowStart {
  display: flex;
  justify-content: flex-start;
}

.flexRowEnd {
  display: flex;
  justify-content: flex-end;
}

.flexRowAround {
  display: flex;
  justify-content: space-around;
}

.flexRowEven {
  display: flex;
  justify-content: space-evenly;
}

.flexRowBetween {
  display: flex;
  justify-content: space-between;
}

#navigation {
  padding: 0.7rem 5rem !important;
}

.navCurrent {
  border-bottom: 2px solid rgb(30, 175, 215);
}

.bgFullWidthImage {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

#homeBannerImage {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.1)
    ),
    url("https://images.unsplash.com/photo-1634908800785-d3df980d179e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTZ8fHdvbWFuJTIwaW4lMjBjYWZlJTIwd2l0aCUyMGNvbXB1dGVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60");
}

#homeBannerText {
  width: 50%;
  margin: 15% 0 0 5rem;
}

#homeBannerText p {
  width: 85%;
  margin-top: 20px;
  text-align: justify;
}

#homeBannerText hr {
  width: 85%;
}

#homeActionButtons {
  margin: 2.5em 0;
}

#homeActionButtons a {
  font-size: 90%;
  padding: 12px 15px;
  margin-right: 1.5rem;
  letter-spacing: 0.01rem;
}
