* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: rgb(240, 240, 240) !important;
  background-color: rgb(25, 25, 40);
}

/* Light */
.text-light {
  color: rgb(240, 240, 240) !important;
}

.bg-light {
  background-color: rgb(240, 240, 240) !important;
}

/* Dark */
.text-dark {
  color: rgb(25, 25, 40) !important;
}

.bg-dark {
  background-color: rgb(25, 25, 40) !important;
}

/* Dark Midtone */
.text-dark-midtone {
  color: rgb(40, 40, 55) !important;
}

.bg-dark-midtone {
  background-color: rgb(40, 40, 55) !important;
}

/* Primary - Blue */
.text-primary {
  /* color: rgb(10, 143, 210) !important; */
  color: rgb(115, 95, 250) !important;
}

.bg-primary {
  /* background-color: rgb(10, 143, 210) !important; */
  background-color: rgb(115, 95, 250) !important;
}

/* Secondary - Yellow */
.text-secondary {
  /* color: rgb(224, 159, 62) !important; */
  color: rgb(255, 165, 45) !important;
}

.bg-secondary {
  /* background-color: rgb(224, 159, 62) !important; */
  background-color: rgb(255, 165, 45) !important;
}

/* Tertiary - Red */
.text-tertiary {
  color: rgb(240, 60, 55) !important;
}

.bg-tertiary {
  background-color: rgb(240, 60, 55) !important;
}

/* Basic Flex Layouts - Row */
.flexRowStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flexRowEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flexRowCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRowAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flexRowEvenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flexRowBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic Flex Layouts - Col */
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColAround {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flexColEvenly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.flexColBetween {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bgSizeCover {
  background-size: cover !important;
}

.bannerImage {
  padding: 1rem 3.5rem;
}
