* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: rgb(240, 240, 240) !important;
  background-color: rgb(25, 25, 40);
}

/* Light */
.text-light {
  color: rgb(240, 240, 240) !important;
}

.bg-light {
  background-color: rgb(240, 240, 240) !important;
}

/* Dark */
.text-dark {
  color: rgb(25, 25, 40) !important;
}

.bg-dark {
  background-color: rgb(25, 25, 40) !important;
}

/* Dark Midtone */
.text-dark-midtone {
  color: rgb(40, 40, 55) !important;
}

.bg-dark-midtone {
  background-color: rgb(40, 40, 55) !important;
}

/* Primary - Blue */
.text-primary {
  /* color: rgb(10, 143, 210) !important; */
  color: rgb(115, 95, 250) !important;
}

.bg-primary {
  /* background-color: rgb(10, 143, 210) !important; */
  background-color: rgb(115, 95, 250) !important;
}

/* Secondary - Yellow */
.text-secondary {
  /* color: rgb(224, 159, 62) !important; */
  color: rgb(255, 165, 45) !important;
}

.bg-secondary {
  /* background-color: rgb(224, 159, 62) !important; */
  background-color: rgb(255, 165, 45) !important;
}

/* Tertiary - Red */
.text-tertiary {
  color: rgb(240, 60, 55) !important;
}

.bg-tertiary {
  background-color: rgb(240, 60, 55) !important;
}
