.bgColorBrand {
  background-color: rgb(30, 175, 215) !important;
}

.bgColorDarkTheme {
  background-color: rgb(45, 45, 50) !important;
}

.bgColorLightTheme {
  background-color: rgb(240, 240, 240) !important;
}

.txtColorBrand {
  color: rgb(30, 175, 215) !important;
}

.txtColorDarkTheme {
  color: rgb(240, 240, 240) !important;
}

.txtColorLightTheme {
  color: rgb(80, 80, 85) !important;
}
